body {
    font-family: 'Titillium Web', sans-serif;
}

.vacancy-list {
    min-width: 850px;
    margin: 10px;
    padding: 10px;
    background-color: #1e1e1e;
}

.vacancy-list a, .vacancy-list a:hover {
    color: #1e1e1e;
    text-decoration: none;
}

.vacancy-block {
    border-bottom: 1px solid #1e1e1e;
    margin: 0 3px;
    padding: 10px;
    background-color: #e1e1e1;

    user-select: none;
}

.vacancy-block:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.whitout-hover:hover {
    background-color: #e1e1e1;
    cursor: default;
}

.vacancy-block .position, .company-name {
    margin: 0 3px;
}

.vacancy-block .position {
    font-size: 28px;
    font-weight: bold;
}

.vacancy-block .company-name {
    font-size: 16px;
}

.vacancy-block .date {
    margin-right: 10px;
    font-size: 12px;
    color: #909090;
}

.my-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 0;
}

.description {
    margin: 0 3px;
    color: #e1e1e1;
}

.description a {
    color: #718cdd;
}

.description a:hover {
    color: #80c7dd;
}